.navbar-header img{
    max-width: 100px;
    padding: 10px;
}
.wpo-campaign-area .campaign-btn .e-btn,
.wpo-campaign-area-s2 .campaign-btn .e-btn,
.wpo-campaign-area-s3 .campaign-btn .e-btn,
.wpo-campaign-area-s4 .campaign-btn .e-btn {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-weight: 500;
  width: 150px;
  border-radius: 40px;
  border: 1px solid #5dc4b8;
  color: #212158;
}
.wpo-campaign-area .campaign-btn .e-btn:hover,
.wpo-campaign-area-s2 .campaign-btn .e-btn:hover,
.wpo-campaign-area-s3 .campaign-btn .e-btn:hover,
.wpo-campaign-area-s4 .campaign-btn .e-btn:hover {
  background: #5dc4b8;
  color: #fff;
}
@media (max-width: 1200px) {
  .wpo-campaign-area .campaign-btn .e-btn,
.wpo-campaign-area-s2 .campaign-btn .e-btn,
.wpo-campaign-area-s3 .campaign-btn .e-btn,
.wpo-campaign-area-s4 .campaign-btn .e-btn {
    height: 40px;
    line-height: 40px;
    width: 90px;
    font-size: 12px;
  }
}
.wpo-blog-section-s3 {
    background: #fff;
    padding-bottom: 90px;
}
@media (max-width: 440px){
.wpo-site-header .navbar-header .navbar-brand img {
    max-width: 70px;
}
}
.wpo-event-area {
    padding-top: 90px;
}
.grid img{
    width: 100px !important;
}
.logo img{
    max-width: 150px;
}