.navbar-header img{
    max-width: 300px;
    padding: 10px;
}
.wpo-campaign-area .campaign-btn .e-btn,
.wpo-campaign-area-s2 .campaign-btn .e-btn,
.wpo-campaign-area-s3 .campaign-btn .e-btn,
.wpo-campaign-area-s4 .campaign-btn .e-btn {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-weight: 500;
  width: 150px;
  border-radius: 40px;
  border: 1px solid #5dc4b8;
  color: #212158;
}
.wpo-campaign-area .campaign-btn .e-btn:hover,
.wpo-campaign-area-s2 .campaign-btn .e-btn:hover,
.wpo-campaign-area-s3 .campaign-btn .e-btn:hover,
.wpo-campaign-area-s4 .campaign-btn .e-btn:hover {
  background: #5dc4b8;
  color: #fff;
}

.wpo-event-area {
    padding-top: 90px;
}
.grid img{
    width: 100px !important;
}
.logo img{
    max-width: 150px;
}
.wpo-features-icon .icon img{
  width: 50px;
}
.theme-btn-s2{
  margin-top: 20px;
}
.about-highlight > p > .project{
  color: #05e66a;
  padding: 0px 5px;
}
.about-highlight > p > .country{
  color: #72449A;
  padding: 0px 5px;
}
.about-highlight > p > .people{
  padding: 0px 5px;
}
.wpo-blog-section-s3 {
  background: #fff;
  padding-bottom: 90px;
}
.about-highlight{
  border-left: 3px solid rgb(240, 237, 237);
  padding-left: 12px;
  border-radius: 2px;

}

.about-highlight > p > span{
  display: inline !important;
}
.about-highlight p{
  margin-bottom: 0px !important;
}

.mini-gallery > .row > .column {
  padding: 0 8px;
}

.mini-gallery > .row:after {
  content: "";
  display: table;
  clear: both;
}
.wpo-about-section-s2 {
  padding-top: 120px;
}

.index-page .wpo-features-section-s6 {
    background: #fff;
}
.about-page .wpo-features-section-s6{
  background: #e9fafa
}
.about-us .wpo-about-text{
  text-align: center;
}

/* Create four equal columns that floats next to eachother */
.mini-gallery > .column {
  float: left;
  width: 25%;
}
.mini-gallery .column img{
  width: 100px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wpo-about-section-s6 .wpo-about-items .wpo-about-text {
  padding-left: 0px !important;
 
}

.wpo-event-area-s2 .wpo-event-wrap .event-slider button{
  position: absolute;
  left: 46%;
  bottom: -30px;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  line-height: 46px;
  text-align: center;
  background: #fff;
  transition: all 0.3s;
  border: 1px solid #ebebeb;
  font-size: 20px;
  border-radius: 5px;
}
.wpo-event-area-s2 .wpo-event-wrap .event-slider button:hover
 {
  background: #ef5f34;
  color: #fff;
}

.wpo-event-single{
  padding-bottom: 100px;
}
.wpo-accountBtn {
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #ef5f34;
  width: 100%;
  background: #ef5f34;
  color: #fff;
  transition: all 0.4s ease-in-out 0s;
  margin-top: 20px;
  border-radius: 5px;
}
.widget .form-group label{
  color: white;
}
.widget .form-group{
  padding-top: 10px;
}
.widget .form-group input{
  padding: 10px 20px;
}
.index-page .wpo-about-section-s4 .wpo-about-items, .wpo-about-items {
  background: #fff;
  border-radius: 20px;
}
.wpo-about-section-s4 {
  padding-top: 90px;
}

.about-page .wpo-campaign-area {
  background: #fef6f3;
}
.about-page .wpo-about-section-s2 .wpo-about-text{
  max-width: 100%;
}
.about-page .wpo-about-section-s4{
  padding-top: 0px;
}

.about-page .wpo-about-section-s6 .wpo-about-items .wpo-about-text {
  padding-left: 20px !important;
}











@media (max-width: 440px){
  .wpo-site-header .navbar-header .navbar-brand img {
      max-width: 200px;
  }
  }

@media (max-width: 991px) {
  .wpo-event-area-s2 .wpo-event-wrap .event-slider button {
    display: none;
  }
}
.wpo-event-area-s2 .wpo-event-wrap .event-slider .owl-next
 {
  left: 51%;
  bottom: -30px;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .wpo-event-area-s2 .wpo-event-wrap .event-slider .owl-next
 {
    display: none;
  }
}
@media (max-width: 1200px) {
  .wpo-campaign-area .campaign-btn .e-btn,
.wpo-campaign-area-s2 .campaign-btn .e-btn,
.wpo-campaign-area-s3 .campaign-btn .e-btn,
.wpo-campaign-area-s4 .campaign-btn .e-btn {
    height: 40px;
    line-height: 40px;
    width: 90px;
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .wpo-event-area-s2 .wpo-event-wrap .event-slider button
{
    left: 43%;
  }
}
